.classify-box,
.classify{
    height:100%;
    width:100%;
}
.classify{
    display: flex;
}
.left{
    flex: 1;
}
.left a{
    display: block;
    height:46px;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    color: #000;
}
.right{
    flex: 3;
    background: #eee;
}