*{
    padding:0;
    margin:0;
    font-size: 12px;
    list-style: none;
}
body{
    position: absolute;
    top:0;
    bottom: 0;
    width:100%;
}
#root,
.App,
.app-box{
    width:100%;
    height:100%;
}
.app-box{
    display: flex;
    flex-direction: column;
}
.header{
    height:40px;
}
.main{
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
}
.footer{
    height:44px;
}