.header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 0 20px;
}

.back{
    display: inline-block;
    padding: 14px;
}